{% extends 'alloylookup/base.html' %}

{% block content %}

<h1>Add an Alloy</h1>
<div class="d-flex justify-content-center md-3 form-group">
    <form action="/create_alloy/" method="POST">
        {% csrf_token %}
        {{ create_alloy_form }}
        <br>
        <button class="btn btn-primary" type="submit" name="Add Alloy">Add Alloy</button>
    </form>
</div>

<script>
    let json_field = document.getElementById('id_alloy_elements');
    console.log(json_field);
    let json_field_content = json_field.textContent;
    console.log(json_field_content);
    let sample_content = '{"others":[{"name":"Others","values":[{"each":"0.5","total":"0.15"}]}],"elements":[{"name":"Si","values":[{"max":"12","min":"5","unit":"m"}],"full_name":"Silicon"},{"name":"Cu","values":[{"max":"12","min":"5","unit":"m"}],"full_name":"Copper"}],"compounds":[{"name":"Wc","values":[{"max":"12","min":"5","unit":"m"}],"full_name":"Tungsten Carbide"}],"special_note":"Other; Cu + sum of named elements 99.5 min"}';
    
</script>

{% endblock %}