body {
    background-color: #24242B;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0.025rem;
    font-size: 1em;
}

main {
    background: linear-gradient(45deg, #3572E8 0%, #7936CF 100%);
}

main > section {
    background-color: rgba(255,255,255,0.2);
    height: 100vh;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar-brand {
    font-weight: 700;
    text-transform: lowercase;
    font-size: 2.6rem;
}

.navbar-brand span:last-child {
    font-weight: 400;
}

.jsonwidget p {
    display: none;
}

.button-link.btn-primary a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-outline-primary {
    color: #3d47a5;
    border-color: #3d47a5;
}

.btn-outline-primary:hover {
    background-color: #3d47a5;
    border-color: #3d47a5;
}

table th {
    color: #639;
}

table td {
    color: #fefefe;
}

.modal,
.modal table th,
.modal table td {
    color: initial;
}

td a {
    text-decoration: none;
}

.btn-primary {
    background-color: #3d47a5;
    border-color: #3d47a5;
}