body {
    background-color: #2D2D34;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0.025rem;
    font-size: 1em;
}

main {
    background: linear-gradient(45deg, #3572E8 0%, #7936CF 100%);
}

main > header,
main > footer {
    background-color: #2D2D34;
}

main > section {
    background-color: rgba(255,255,255,0.2);
    min-height: 90vh;
}

main > footer {
    color: #fefefe;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.navbar-brand {
    font-weight: 700;
    text-transform: lowercase;
    font-size: 2.2rem;
}

.navbar-brand span:last-child {
    font-weight: 400;
}

.jsonwidget p {
    display: none;
}

.button-link.btn-primary a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.btn-outline-primary {
    color: #3d47a5;
    border-color: #3d47a5;
}

.btn-primary:hover {
    border-color: #3d47a5;
    color: #3d47a5;
    background-color: #fff;
}

.btn-outline-primary:hover {
    background-color: #3d47a5;
    border-color: #3d47a5;
}

.edit:hover i,
.delete:hover i {
    color: #3d47a5;
    transition: 200ms all ease-in-out;
}

table th {
    color: #639;
}

.table-striped>tbody>tr:nth-of-type(odd)>*,
.table-striped>tbody>tr:nth-of-type(even)>* {
    color: #fefefe;
}

.modal,
.modal table th,
.modal table td {
    color: initial;
}

td a {
    text-decoration: none;
}

.btn-primary {
    background-color: #3d47a5;
    border-color: #3d47a5;
}

main > section h1 {
    color: #fcfcfc;
    text-align: center;
    padding: 1.5em 0 1em;
}

main > section form label {
    color: #fefefe;
    margin: 0.5rem 0;
}


form {
    min-width: 50%;
}

.form-control {
    color: #555;
}