{% extends 'alloylookup/base.html' %}

{% block content %} 
<body>
    <div class="container">
        <h1>Alloy Categories</h1>
        
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">AlloyCode</th>
                    <th scope="col">Alloy Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sub-Category</th>
                    <!-- <th scope="col">Others Each</th>
                    <th scope="col">Others Total</th>
                    <th scope="col">Special Note</th> -->
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}    
                    <tr>
                        <td>{{ alloy.alloy_code }}</td>
                        <td>{{ alloy.alloy_description }}</td>
                        <td>{{ category.category_name }}</td>
                        <td>{{ category.subcategory }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
{% endblock %}