{% extends 'alloylookup/base.html' %}

{% block content %} 
<body>
    
    {% for alloy in alloys %}

    <div>
        <h3>Alloy Composition</h3>
        <table class="table table-responsive">
            <thead class="table-light">
                <tr>
                    <th scope="col">AlloyCode</th>
                    <th scope="col">Country Code</th>
                    <th scope="col">Primary Footnote Id</th>
                    <th scope="col">Secondary Footnote Id</th>
                    <th scope="col">Si Min</th><!-- Elements -->
                    <th scope="col">Si Max</th>
                    <th scope="col">Fe Min</th>
                    <th scope="col">Fe Max</th>
                    <th scope="col">Cu Min</th>
                    <th scope="col">Cu Max</th>
                    <th scope="col">Mn Min</th>
                    <th scope="col">Mn Max</th>
                    <th scope="col">Mg Min</th>
                    <th scope="col">Mg Max</th>
                    <th scope="col">Cr Min</th>
                    <th scope="col">Cr Max</th>
                    <th scope="col">Ni Min</th>
                    <th scope="col">Ni Max</th>
                    <th scope="col">Zn Min</th>
                    <th scope="col">Zn Max</th>
                    <th scope="col">Ti Min</th>
                    <th scope="col">Ti Max</th>
                    <th scope="col">Ga Min</th>
                    <th scope="col">Ga Max</th>
                    <th scope="col">V Min</th>
                    <th scope="col">V Max</th>
                    <th scope="col">Mo min</th>
                    <th scope="col">Mo max</th>
                    <th scope="col">C min</th>
                    <th scope="col">C max</th>
                    <th scope="col">Al min</th>
                    <th scope="col">Al max</th>
                    <th scope="col">Cb min</th>
                    <th scope="col">Cb max</th>
                    <th scope="col">Co min</th>
                    <th scope="col">Co max</th>
                    <th scope="col">W min</th>
                    <th scope="col">W max</th>
                    <th scope="col">Zr min</th>
                    <th scope="col">Zr max</th>
                    <th scope="col">Ag min</th>
                    <th scope="col">Ag max</th>
                    <th scope="col">S min</th>
                    <th scope="col">S max</th>
                    <th scope="col">Be min</th>
                    <th scope="col">Be max</th>
                    <th scope="col">Ta min</th>
                    <th scope="col">Ta max</th>
                    <th scope="col">Sn min</th>
                    <th scope="col">Sn max</th>
                    <th scope="col">Re min</th>
                    <th scope="col">Re max</th>
                    <th scope="col">Zr min</th>
                    <th scope="col">Zr max</th>
                    <th scope="col">Bi min</th>
                    <th scope="col">Bi max</th>
                    <th scope="col">B min</th>
                    <th scope="col">B max</th>
                    <th scope="col">O min</th>
                    <th scope="col">O max</th>
                    <th scope="col">As min</th>
                    <th scope="col">As max</th>
                    <th scope="col">Li min</th>
                    <th scope="col">Li max</th>
                    <th scope="col">Ca min</th>
                    <th scope="col">Ca max</th>
                    <th scope="col">Cd min</th>
                    <th scope="col">Cd max</th>
                    <th scope="col">Ce min</th>
                    <th scope="col">Ce max</th>
                    <th scope="col">H min</th>
                    <th scope="col">H max</th>
                    <th scope="col">Hf min</th>
                    <th scope="col">Hf max</th>
                    <th scope="col">La min</th>
                    <th scope="col">La max</th>
                    <th scope="col">N min</th>
                    <th scope="col">N max</th>
                    <th scope="col">Nb min</th>
                    <th scope="col">Nb max</th>
                    <th scope="col">Sb min</th>
                    <th scope="col">Sb max</th>
                    <th scope="col">Se min</th>
                    <th scope="col">Se max</th>
                    <th scope="col">Sr min</th>
                    <th scope="col">Sr max</th>
                    <th scope="col">Su min</th>
                    <th scope="col">Su max</th>
                    <th scope="col">Rr min</th>
                    <th scope="col">Rr max</th>
                    <th scope="col">Te min</th>
                    <th scope="col">Te max</th>
                    <th scope="col">Y min</th>
                    <th scope="col">Y max</th>
                    <th scope="col">Ru min</th>
                    <th scope="col">Ru max</th>
                    <th scope="col">Pb min</th>
                    <th scope="col">Pb max</th>
                    <th scope="col">P min</th>
                    <th scope="col">P max</th>
                    <th scope="col">Wc min</th><!-- Compounds -->
                    <th scope="col">Wc max</th>
                    <th scope="col">N2 min</th>
                    <th scope="col">N2 max</th>
                    <th scope="col">Tac min</th>
                    <th scope="col">Tac max</th>
                    <th scope="col">ThO2 min</th>
                    <th scope="col">ThO2 max</th>
                    <th scope="col">TiC min</th>
                    <th scope="col">TiC max</th>
                    <th scope="col">S0 min</th>
                    <th scope="col">S0 max</th>
                    <th scope="col">Others Each</th>
                    <th scope="col">Others Total</th>
                    <th scope="col">Special Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ alloy.alloy_code }}</td>
                    <td>{{ alloy.country_code }}</td>
                    <td>{{ alloy.primary_footnote_id }}</td>
                    <td>{{ alloy.secondary_footnote_id }}</td>
                    <td>{{ alloy.si_min }}</td>
                    <td>{{ alloy.si_max }}</td>
                    <td>{{ alloy.fe_min }}</td>
                    <td>{{ alloy.fe_max }}</td>
                    <td>{{ alloy.cu_min }}</td>
                    <td>{{ alloy.cu_max }}</td>
                    <td>{{ alloy.mn_min }}</td>
                    <td>{{ alloy.mn_max }}</td>
                    <td>{{ alloy.mg_min }}</td>
                    <td>{{ alloy.mg_max }}</td>
                    <td>{{ alloy.cr_min }}</td>
                    <td>{{ alloy.cr_max }}</td>
                    <td>{{ alloy.ni_min }}</td>
                    <td>{{ alloy.ni_max }}</td>
                    <td>{{ alloy.zn_min }}</td>
                    <td>{{ alloy.zn_max }}</td>
                    <td>{{ alloy.ti_min }}</td>
                    <td>{{ alloy.ti_max }}</td>
                    <td>{{ alloy.ga_min }}</td>
                    <td>{{ alloy.ga_max }}</td>
                    <td>{{ alloy.v_min }}</td>
                    <td>{{ alloy.v_max }}</td>
                    <td>{{ alloy.mo_min }}</td>
                    <td>{{ alloy.mo_max }}</td>
                    <td>{{ alloy.c_min }}</td>
                    <td>{{ alloy.c_max }}</td>
                    <td>{{ alloy.al_min }}</td>
                    <td>{{ alloy.al_max }}</td>
                    <td>{{ alloy.cb_min }}</td>
                    <td>{{ alloy.cb_max }}</td>
                    <td>{{ alloy.co_min }}</td>
                    <td>{{ alloy.co_max }}</td>
                    <td>{{ alloy.w_min }}</td>
                    <td>{{ alloy.w_max }}</td>
                    <td>{{ alloy.zr_min }}</td>
                    <td>{{ alloy.zr_max }}</td>
                    <td>{{ alloy.ag_min }}</td>
                    <td>{{ alloy.ag_max }}</td>
                    <td>{{ alloy.s_min }}</td>
                    <td>{{ alloy.s_max }}</td>
                    <td>{{ alloy.be_min }}</td>
                    <td>{{ alloy.be_max }}</td>
                    <td>{{ alloy.ta_min }}</td>
                    <td>{{ alloy.ta_max }}</td>
                    <td>{{ alloy.sn_min }}</td>
                    <td>{{ alloy.sn_max }}</td>
                    <td>{{ alloy.re_min }}</td>
                    <td>{{ alloy.re_max }}</td>
                    <td>{{ alloy.zr_min }}</td>
                    <td>{{ alloy.zr_max }}</td>
                    <td>{{ alloy.bi_min }}</td>
                    <td>{{ alloy.bi_max }}</td>
                    <td>{{ alloy.b_min }}</td>
                    <td>{{ alloy.b_max }}</td>
                    <td>{{ alloy.o_min }}</td>
                    <td>{{ alloy.o_max }}</td>
                    <td>{{ alloy.as_min }}</td>
                    <td>{{ alloy.as_max }}</td>
                    <td>{{ alloy.li_min }}</td>
                    <td>{{ alloy.li_max }}</td>
                    <td>{{ alloy.ca_min }}</td>
                    <td>{{ alloy.ca_max }}</td>
                    <td>{{ alloy.cd_min }}</td>
                    <td>{{ alloy.cd_max }}</td>
                    <td>{{ alloy.ce_min }}</td>
                    <td>{{ alloy.ce_max }}</td>
                    <td>{{ alloy.h_min }}</td>
                    <td>{{ alloy.h_max }}</td>
                    <td>{{ alloy.hf_min }}</td>
                    <td>{{ alloy.hf_max }}</td>
                    <td>{{ alloy.la_min }}</td>
                    <td>{{ alloy.la_max }}</td>
                    <td>{{ alloy.n_min }}</td>
                    <td>{{ alloy.n_max }}</td>
                    <td>{{ alloy.nb_min }}</td>
                    <td>{{ alloy.nb_max }}</td>
                    <td>{{ alloy.sb_min }}</td>
                    <td>{{ alloy.sb_max }}</td>
                    <td>{{ alloy.se_min }}</td>
                    <td>{{ alloy.se_max }}</td>
                    <td>{{ alloy.sr_min }}</td>
                    <td>{{ alloy.sr_max }}</td>
                    <td>{{ alloy.su_min }}</td>
                    <td>{{ alloy.su_max }}</td>
                    <td>{{ alloy.rr_min }}</td>
                    <td>{{ alloy.rr_max }}</td>
                    <td>{{ alloy.te_min }}</td>
                    <td>{{ alloy.te_max }}</td>
                    <td>{{ alloy.y_min }}</td>
                    <td>{{ alloy.y_max }}</td>
                    <td>{{ alloy.ru_min }}</td>
                    <td>{{ alloy.ru_max }}</td>
                    <td>{{ alloy.pb_min }}</td>
                    <td>{{ alloy.pb_max }}</td>
                    <td>{{ alloy.p_min }}</td>
                    <td>{{ alloy.p_max }}</td>
                    <td>{{ alloy.wc_min }}</td>
                    <td>{{ alloy.wc_max }}</td>
                    <td>{{ alloy.n2_min }}</td>
                    <td>{{ alloy.n2_max }}</td>
                    <td>{{ alloy.tac_min }}</td>
                    <td>{{ alloy.tac_max }}</td>
                    <td>{{ alloy.th02_min }}</td>
                    <td>{{ alloy.th02_max }}</td>
                    <td>{{ alloy.tic_min }}</td>
                    <td>{{ alloy.tic_max }}</td>
                    <td>{{ alloy.so_min }}</td>
                    <td>{{ alloy.so_max }}</td>
                    <td>{{ alloy.others_each_id }} {{ alloy.others_each }}</td>
                    <td>{{ alloy.others_total_id }} {{ alloy.others_total }}</td>
                    <td>{{ alloy.special_note_id }} {{ alloy.special_note }}</td>
                </tr>
            </tbody>
        </table>

    </div>




    {% endfor %}

</body>
{% endblock %}



