{% extends 'alloylookup/base.html' %}

{% block content %} 

    <div class="container">
        <div class="row align-items-center px-0 py-3">
            <div class="col d-flex justify-content-start">
                <form action="/alloy_search/">
                    <input type="text" name="search_term" id="search_term">
                    <input type="submit" value="Search Alloys" class="btn btn-sm btn-primary">
                </form>
            </div>
            {% if request.user.is_staff %}
                <div class="col d-flex justify-content-end">
                    <a href="/create_alloy/" class="btn btn-sm btn-outline-primary ms-2 btn-light">Add Alloy</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-responsive">
            <thead class="table-light">
                <tr>
                    <th scope="col">Alloy Code</th>
                    <th scope="col">Alloy Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Subcategory</th>
                    <th scope="col">Country</th>
                    <th scope="col">Elements</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for alloy in alloys %}
                    <tr>
                        <td>{{ alloy.alloy_code }}</td>
                            <td>{{ alloy.alloy_description }}</td>
                            <td>{{ alloy.category }}</td>
                            <td>{{ alloy.subcategory }}</td>
                            <td>{{ alloy.country_code }}</td>
                            <td id="elements-{{ alloy.alloy_code }}">
                                <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#elementsModal-{{ alloy.id }}">
                                    View Elements
                                </button>
                                <!-- Modal for Displaying Alloy Elements -->
                                <div class="modal fade" id="elementsModal-{{ alloy.id }}" tabindex="-1" aria-labelledby="elementsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="elementsModalLabel">{{ alloy.alloy_description }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Elements & Compounds</h5>
                                            <table class="table table-bordered">
                                                <thead class="table-light">
                                                    {% for element in alloy.alloy_elements.elements %}
                                                        <th>{{ element.name }}</th>
                                                    {% endfor %}
                                                    {% for compound in alloy.alloy_elements.compounds %}
                                                        <th>{{ compound.name }}</th>
                                                    {% endfor %}
                                                    {% for other in alloy.alloy_elements.others %}
                                                        <th>{{ other.name }}</th>
                                                    {% endfor %}
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for element in alloy.alloy_elements.elements %}
                                                            {% for value in element.values %}
                                                                <td>
                                                                    <span>Min: </span>{{ value.min }}{{value.unit}}<br>
                                                                    <span>Max: </span>{{ value.max }}{{value.unit}}
                                                                </td>
                                                            {% endfor %}
                                                        {% endfor %}

                                                        {% for compound in alloy.alloy_elements.compounds %}
                                                            {% for value in compound.values %}
                                                                <td>
                                                                    <span>Min: </span>{{ value.min }}{{value.unit}}<br>
                                                                    <span>Max: </span>{{ value.max }}{{value.unit}}
                                                                </td>
                                                            {% endfor %}
                                                        {% endfor %}

                                                        {% for other in alloy.alloy_elements.others %}
                                                            {% for value in other.values %}
                                                                <td>
                                                                    <span>Each: </span>{{ value.each }}<br>
                                                                    <span>Total: </span>{{ value.total }}
                                                                </td>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div>
                                                <strong>Special Note</strong>
                                                {% if alloy.alloy_elements.special_note %}
                                                    <p>{{ alloy.alloy_elements.special_note }}</p>
                                                {% else %}
                                                    <p>n/a</p>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <strong>Footnotes</strong>
                                                {% if alloy.primary_footnote_id or alloy.secondary_footnote_id %}
                                                    <p>{{ alloy.primary_footnote_id }}</p>
                                                    <p>{{ alloy.secondary_footnote_id }}</p>
                                                {% else %}
                                                    <p>n/a</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- Alloy Management -->
                                <a title="Update Alloy" class="p-2 bd-highlight text-white" role="button" aria-label="Update Alloy" href="{% url 'update_alloy' alloy.id %}">
                                    <i class="fa fa-pen-to-square"></i>
                                </a>
                                <a title="Delete Alloy" class="p-2 bd-highlight text-light" role="button" aria-label="Delete Alloy" href="{% url 'delete_alloy' alloy.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

    </div>



{% endblock %}



