{% extends 'alloylookup/base.html' %}

{% block content %} 

<table class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
            <!-- <th scope="col">Subcategory</th> -->
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.category_id }}</td>
                <td>{{ category.category_name }}</td>
                <!-- <td>{{ category.subcategory }}</td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}