{% extends 'alloylookup/base.html' %}

{% block content %}

<div class="d-flex p-2 justify-content-center">
    <h1>{{ page_title }}</h1>
</div>
<div class="d-flex p-2 justify-content-center">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Are you sure you want to delete this footnote?</h3>

            <table class="table table-striped text-center">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Footnote Id</th>
                        <th scope="col">Footnote Name</th>
                    </tr>
                </thead>
                <tbody>
                            <tr>
                                <td>{{ delete_footnote.footnote_id }}</td>
                                <td>{{ delete_footnote.footnote }}</td>
                            </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center md-3 form-group">
    <form action="" method="POST">
        {% csrf_token %}
        <a class="btn btn-success" href="{% url 'get_footnotes_list' %}">Cancel</a>
        <button class="btn btn-danger" type="submit" name="Delete Footnote">Yes, delete!</button>
    </form>
</div>

{% endblock %}