{% extends 'alloylookup/base.html' %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col d-flex p-2 justify-content-center">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-end py-2">
            {% if request.user.is_staff %}
                <a aria-current="page" href="/create-footnote/" class="btn btn-sm btn-outline-primary ms-2 btn-light">Add Footnote</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-responsive">
        <thead class="table-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Footnote</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for footnote in footnotes %}
                <tr>
                    <td>{{ footnote.footnote_id }}</td>
                    <td>
                        {{ footnote.footnote }}
                    </td>
                    <td>
                        <!-- Country Management -->
                        <a title="Update Footnote" class="p-2 bd-highlight text-light" role="button" aria-label="Update Footnote" href="{% url 'update_footnote' footnote.id %}">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <a title="Delete Footnote" class="p-2 bd-highlight text-light" role="button" aria-label="Delete Footnote" href="{% url 'delete_footnote' footnote.id %}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
