{% extends 'alloylookup/base.html' %}


{% block content %}
<h1>{{ page_title }}</h1>
<div class="container">
    <form method="POST">{% csrf_token %}
        {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" id="password">
        <button type="submit">Log In</button>
    </form>
    <p>Forgot your password? <a href="/reset-password">Reset your password here</a>.</p>
    <p>Don't have an account yet? <a href="/register">Register here</a>.</p>
</div>

{% endblock %}