{% extends 'alloylookup/base.html' %}


{% block content %}

    <h1 class="d-flex p-2 justify-content-center">Password Reset</h1>
    <div>
        <p class="d-flex p-2 justify-content-center">Do you need to reset your password? Enter your registered email address
            below, and we'll send you instructions via email.</p>
    </div>
    <div class="d-flex p-2 justify-content-center">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" aria-label="Send Email" class="btn btn-primary">Send Email</button>
        </form>
    </div>
    {{form.errors}}

{% endblock %}
