{% extends 'alloylookup/base.html' %}


{% block content %}

<div>
    <h1 class="d-flex p-2 justify-content-center">Password Reset Sent</h1>
</div>
<div>
    <p class="d-flex p-2 justify-content-center">We've emailed you instructions for setting your password. If an
        account exists with the email you entered, you should receive them shortly.</p>
    <p class="d-flex p-2 justify-content-center">If you don't receive an email, please double check you've entered
        the email address you registered your account with. Also check your spam folder.</p>
</div>


{% endblock %}
