{% extends 'alloylookup/base.html' %}


{% block content %}

    <h1 class="d-flex p-2 justify-content-center">Register</h1>
    <div class="d-flex p-2 justify-content-center">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" aria-label="Enter Username" class="form-control" name="username"
                    placeholder="Username..." id="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="text" aria-label="Enter Email" class="form-control" name="email"
                    placeholder="Email Address..." id="email">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" aria-label="Enter Password" class="form-control" name="password1"
                    placeholder="Password..." id="password1">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" aria-label="Confirm Password" class="form-control" name="password2"
                    placeholder="Password Confirmation..." id="password2">
            </div>
            <button type="submit" aria-label="Register" class="btn btn-primary">Register</button>
        </form>
    </div>
    {{form.errors}}


    <hr>
    <div class="d-flex p-2 justify-content-center">
        <p>Already have an account?</p>
    </div>
    <div class="d-flex p-2 justify-content-center">
        <p><a aria-label="Login" href="{% url 'account_login' %}">Login Here.</a></p>
    </div>

{% endblock %}
