{% extends 'alloylookup/base.html' %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col d-flex p-2 justify-content-center">
            <h1>{{ page_title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <div class="btn btn-primary button-link">
                <a aria-current="page" href="{% url 'create_subcategory' %}">Add Subcategory</a>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">Subcategory Id</th>
            <th scope="col">Subcategory Name</th>
            <th scope="col">Related Category</th>
            <!-- <th scope="col">Subcategory</th> -->
        </tr>
    </thead>
    <tbody>
        {% for subcategory in subcategories %}
            <tr>
                <td>{{ subcategory.subcategory_id }}</td>
                <td>
                    {{ subcategory.subcategory_name }}
                </td>
                <td>
                    {{ subcategory.category_name }}
                    <!-- Category Management -->
                    <a title="Update Category" class="p-2 bd-highlight" role="button" aria-label="Update Category" href="{% url 'update_category' category.id %}">
                        <i class="fa-solid fa-lg fa-pen-to-square"></i>
                    </a>
                    <a title="Delete Category" class="p-2 bd-highlight" role="button" aria-label="Delete Category" href="{% url 'delete_category' category.id %}">
                        <i class="fa-solid fa-lg fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
